# Xcode
build/
!electron-app/build/
!electron-app/build/icon.ico
!electron-app/build/icon.png
DerivedData/
*.xcuserdata
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods
Pods/

# Misc
*.swp
*~

# Node / Electron
node_modules/
electron-app/dist/
electron-app/dist-electron/
electron-app/release/
*.tsbuildinfo
